section.blogroll {
  @include outer-container;

  @include media($large-screen){
    margin-top: em(20);
    padding-top: 20px;
    padding-bottom: 5px;
    height: 100%;
    margin-bottom: -160px;
  }
  article {
    @include media($large-screen){
      @include span-columns(10); 
      @include shift(2);
      margin-top: 16px;
    }

   div.date {
     clear: both;
     padding-left: 8px;
     @include media($large-screen){
       @include span-columns(2 of 10);
       time {
         font-size: ($base-font-size * 1.2);
       }
       padding-left: 0;
     }
   }
   div.summary {
     padding-left: 8px;

     @include media($large-screen){
       @include span-columns(8 of 10);
       padding-left: 0;
     }

     header {
       padding-top: 0;
       padding-left: 0;
       margin-bottom: 0;
       padding-bottom: 0;
       height: auto;
     }
     h1 {
      font-size: ($base-font-size * 1.5);
     }
     p {
       font-size: ($base-font-size * 1.2);
     }
     a:not(.more) {
       color: $base-font-color;
     }
   }
  }
}

div.lead {
  @include media($large-screen){
    @include span-columns(8);
    @include shift(2);
  }

  margin-bottom: 16px;

  h1 {
    text-align: center;
    margin-bottom: 16px;
  }
 

  p {
    font-size: 1.2em;
    padding-left: 8px;
    @include media($large-screen){
      font-size: ($base-font-size * 1.5);
      line-height: 1.5em;
      padding-left: 0;
    }
  }
}

