<footer class="footer-2">
  <div class="footer-logo">
    <a href="/">Anthony Candaele</a>
  </div>
    <ul>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Portfolio</a></li>
      <li><a href="javascript:void(0)">Blog</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">All rights reserved</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="#"><i class="fa fa-twitter-square"></i></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
      </ul>
    </div>
</footer>

