<section class="portfolio">
  <div class="lead">
  <h1>Portfolio</h1>
  <p>Here's a selection of my work. All websites are responsive and have a CMS for easy editing</p>
</div>
  <article>
    <div class="screenshot">
      <img src="images/homepage-anniek-lambrecht.jpg", alt: "screenshot homepage anniek lambrecht"/>
    </div>
    <div class="description">
      <header>
        <h1>Schoonheidsspecialiste Anniek Lambrecht</h1>
        <span class="website"><a href="http://www.anniek-lambrecht.be">www.anniek-lambrecht.be</a></span>
      </header>
      <h2>Features</h2>
      <ul class="features">
        <li>E-commerce website</li>
        <li>Umbraco CMS integration</li>
        <li>Can be viewed on smartphones, tablets, desktops and laptops</li>
      </ul>
      <p>Website for cosmetologist. Visitors can easily navigate the treatments and products. The owner can easily update the pages, add banners and add promo actions through the user friend <a href="http://www.umbraco.com">Umbraco CMS</a></p>
    </div>
  </article>
</section>

